<!-- Top Bar -->
<section id="" class="p-3 text-white" style="background-color:darkcyan;">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-phone"></i> 0756-3620000 </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> buy_house_from_henry@mail.uic.edu.cn
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#"> <i class="fab fa-weixin text-white"></i> </a>
          <a href="#"> <i class="fab fa-weibo text-white"></i> </a>
<!--          <a href="#"> <i class="fab fa-youtube text-white"></i> </a>-->
<!--          <a href="#"> <i class="fab fa-instagram text-white"></i> </a>-->
<!--          <a href="#"> <i class="fab fa-pinterest text-white"></i> </a>-->
        </div>
      </div>
    </div>
  </div>
</section>
