{% extends 'base.html' %}

{% block title %} | Dashboard{% endblock %}

{% block content %}
<section id="" class="py-5 text-white" style="background-color:darkblue;">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-4">Agent Dashboard</h1>
            <p class="lead">Manage customer Real Estate Account</p>
        </div>
        </div>
    </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active"> Dashboard</li>
            <li class="breadcrumb-item">
            <a href="{% url 'agent_customer' %}">View Customers</a>
            </li>
            <li class="breadcrumb-item">
            <a href="{% url 'agent_blacklist' %}">View Customer Blacklist</a>
            </li>
        </ol>
        </nav>
    </div>
    </section>

    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

    <section id="dashboard" class="py-4">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h2>Welcome {{ user.first_name }}</h2>

                                {% if house_new %}
                    <p>Here are all houses in charge by you</p>
                    <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">House ID</th>
                            <th scope="col">Room</th>
                            <th scope="col">Area</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listing_new in house %}
                            <tr>
                                <td>{{ listing_new.id }}</td>
                                <td>{{ listing_new.room_num }}</td>
                                <td>{{ listing_new.area }}</td>
                                <td>{{ listing_new.price }}</td>
                                <td>
                                  <form action="{% url 'agent_delete_hou_new' %}" method="POST">
                                         {% csrf_token %}
                                        <input type="hidden" name="house_id" value="{{listing_new.id}}">
                                        <input type="submit" class="btn btn-light" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                                                {% elif house_old %}
                    <p>Here are all houses in charge by you</p>
                    <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">House ID</th>
                            <th scope="col">Room</th>
                            <th scope="col">Area</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listing_old in house_old %}
                            <tr>
                                <td>{{ listing_old.id }}</td>
                                <td>{{ listing_old.room_num }}</td>
                                <td>{{ listing_old.area }}</td>
                                <td>{{ listing_old.price }}</td>
                                <td>
                                  <form action="{% url 'agent_delete_hou_old' %}" method="POST">
                                         {% csrf_token %}
                                        <input type="hidden" name="house_id" value="{{listing_old.id}}">
                                        <input type="submit" class="btn btn-light" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>

                    {% else %}
                        <p>There are no houses in charge by you</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}