{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us{% endblock %}

{% block content %}
<section id="" class="py-5 text-white" style="background-color:darkcyan;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About UIC Real Estate Campany</h1>
        <p class="lead">
          您的信赖是我们前进的最大动力，您的金钱也是。
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>我们为您选择最好的房产</h2>
        <p class="lead">
          Real estate management is utilized for any type of rental property,
          including residential rentals or commercial real estate
        </p>
        <img src="{% static 'img/4.jpg' %}" alt="" />
        <p class="mt-4">
          Real estate property management involves an understanding of operating expenses and budgeting.
          From this information, appropriate rental rates are set,
          balanced by the current market and what it will support in the way of rents.
          A firm knowledge of the area and competitive rental properties is required.
        </p>
      </div>
      <div class="col-md-4">
        {% if mvp_realtors %}
          {% for realtor in mvp_realtors %}
          <div class="card">

              <div class="card-body">
                <h5 class="card-title">Seller Of The Month</h5>
                <h6 class="text-secondary">{{realtor.name}}</h6>
                <p class="card-text">
                 {{ realtor.description }}
                </p>
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>
</section>

<!-- Work -->
<section id="work" class="text-white text-center" style="background-color:darkcyan;">
  <h2 class="display-4">我们UIC房产为您提供服务</h2>
  <h4>
    我们看重的是您口袋以及银行帐户里的金钱，我们会为您提供性价比最低的房产以便我们赚到更多的钱💰
  </h4>
  <hr />

</section>

<!-- Team -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">
      {% if realtors %}
        {% for realtor in realtors %}
        <div class="col-md-4">
            <img
              src="{{ realtor.photo.url }}"
              alt=""
              class="rounded-circle mb-3"
            />
            <h4>{{realtor.name}}</h4>
            <p class="text-success">
              <i class="fas fa-award text-success mb-3"></i> Realtor
            </p>
            <hr />
            <p><i class="fas fa-phone"></i> {{ realtor.phone }}</p>
            <p><i class="fas fa-envelope-open"></i> {{realtor.email}}</p>
          </div>
        {% endfor %}
      {%  else %}
        <div class="col-md-12">
          <p>No realtors available</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}
