{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Welcome{% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5" style="background-color:cadetblue;">
            <div class="overlay p-5" style="background-color:cadetblue;">
                <h1 class="display-4">HIDDEN IN THE BLUE｜深藏BLUE TEAM</h1><br>
                <p class="lead">
                    就来我们由北京师范大学-香港浸会大学联合国际学院数据科学专业同学创立的——UIC甄选放心房地产公司
                </p>
                <p class="lead">
                    Come to our UIC assured real estate company founded by data science students from Beijing Normal
                    University - Hong Kong Baptist University United International College
                </p>
                <div class="search">
                    <form action="{% url 'search' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Keywords</label>
                                <input
                                        type="text"
                                        name="keywords"
                                        class="form-control"
                                        placeholder="Keyword"
                                />
                            </div>

<!--                            <div class="col-md-4 mb-3">-->
<!--                                <label class="sr-only">City</label>-->
<!--                                <input-->
<!--                                        type="text"-->
<!--                                        name="city"-->
<!--                                        class="form-control"-->
<!--                                        placeholder="City"-->
<!--                                />-->
<!--                            </div>-->

                            <div class="col-md-6 mb-3">
                                <label class="sr-only">District</label>
                                <select name="state" class="form-control">
                                    <option selected="true" disabled="disabled">District</option>
                                    {% for key,value in state_choices.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Statue</label>
                                <select name="statue" class="form-control">
                                    <option selected="true" disabled="disabled">Statue</option>
                                    {% for key,value in statue_choices.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select name="price" class="form-control" id="type">
                                    <option selected="true" disabled="disabled"
                                    >Max Price (Any)
                                    </option
                                    >
                                    {% for key,value in price_choices.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-danger btn-block mt-4" type="submit">
                            Submit form
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!--&lt;!&ndash; Listings &ndash;&gt;-->
<!--<section id="listings" class="py-5">-->
<!--    <div class="container">-->
<!--        <h3 class="text-center mb-3">Latest Listings</h3>-->
<!--        <div class="row">-->
<!--            {% if listings %}-->

<!--            {% for listing in listings %}-->

<!--            <div class="col-md-6 col-lg-4 mb-4">-->
<!--                <div class="card listing-preview">-->
<!--                    <img class="card-img-top" src="{{ listing.photo_main.url }}" alt=""/>-->
<!--                    <div class="card-img-overlay">-->
<!--                        <h2>-->
<!--                            <span class="badge badge-secondary text-white">${{ listing.price | intcomma}}</span>-->
<!--                        </h2>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <div class="listing-heading text-center">-->
<!--                            <h4 class="text-primary">{{ listing.title }}</h4>-->
<!--                            <p>-->
<!--                                <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }},-->
<!--                                {{ listing.zipcode }}-->
<!--                            </p>-->
<!--                        </div>-->
<!--                        <hr/>-->
<!--                        <div class="row py-2 text-secondary">-->
<!--                            <div class="col-6">-->
<!--                                <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}-->
<!--                            </div>-->
<!--                            <div class="col-6"><i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>-->
<!--                        </div>-->
<!--                        <div class="row py-2 text-secondary">-->
<!--                            <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>-->
<!--                            <div class="col-6"><i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>-->
<!--                        </div>-->
<!--                        <hr/>-->
<!--                        <div class="row py-2 text-secondary">-->
<!--                            <div class="col-6"><i class="fas fa-user"></i> {{ listing.realtor }}</div>-->
<!--                        </div>-->
<!--                        <div class="row text-secondary pb-2">-->
<!--                            <div class="col-6"><i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>-->
<!--                        </div>-->
<!--                        <hr/>-->
<!--                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block"-->
<!--                        >More Info</a-->
<!--                        >-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            {% endfor %}-->

<!--            {% else %}-->
<!--            <div class="col-md-12">-->
<!--                <p>No listings available</p>-->
<!--            </div>-->
<!--            {% endif %}-->
<!--        </div>-->

<!--        &lt;!&ndash; PAGINATION &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                {% if listings.has_other_pages %}-->
<!--                <ul class="pagination">-->
<!--                    {% if listings.has_previous %}-->
<!--                    <li class="page-item">-->
<!--                        <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>-->
<!--                    </li>-->
<!--                    {% else %}-->
<!--                    <li class="page-item disabled">-->
<!--                        <a class="page-link">&laquo;</a>-->
<!--                    </li>-->
<!--                    {% endif %}-->
<!--                    {% for i in listings.paginator.page_range %}-->
<!--                    {% if listings.number == i %}-->
<!--                    <li class="page-item active">-->
<!--                        <a class="page-link">{{i}}</a>-->
<!--                    </li>-->
<!--                    {% else %}-->
<!--                    <li class="page-item">-->
<!--                        <a href="?page={{i}}" class="page-link">{{i}}</a>-->
<!--                    </li>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                    {% if listings.has_next %}-->
<!--                    <li class="page-item">-->
<!--                        <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>-->
<!--                    </li>-->
<!--                    {% else %}-->
<!--                    <li class="page-item disabled">-->
<!--                        <a class="page-link">&raquo;</a>-->
<!--                    </li>-->
<!--                    {% endif %}-->
<!--                </ul>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Listings -->
<section id="listings" class="py-4">
    <div class="container">
        <h3 class="text-center mb-3">Our Sponsors</h3>
        <div class="row">

            {% if listings %}
            {% for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-4">

                <div class="card listing-preview">
                    <img class="card-img-top" src="{{ listing.photo.url }}" alt="" style="width: 340px; height: 300px";>
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">{{ listing.house_name }}</h4>
                            <p>
                                <i class="fas fa-map-marker text-secondary"></i> {{ listing.address }} </p>
                            <!--                    {{ listing.state }}, {{ listing.zipcode}}-->
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-th-large"></i> Status: {{ listing.house_status }}
                            </div>
                            <div class="col-6">
                                <i class="fas fa-car"></i> Type: {{ listing.house_type }}
                            </div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-bed"></i> Property fee: <br>&nbsp;&nbsp;&nbsp;&nbsp;{{ listing.peoperty_fee }}</div>
                        <!--                    <div class="col-6">-->
                        <!--                      <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>-->
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-user"></i> Developer:<br>&nbsp;&nbsp;&nbsp;&nbsp;{{ listing.developer }}
                            </div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-user"></i> Property Company:<br>&nbsp;&nbsp;&nbsp;&nbsp;{{ listing.property_company }}
                            </div>
                        </div>
<!--                        <div class="row text-secondary pb-2">-->
<!--                            <div class="col-6">-->
<!--                                <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}-->
<!--                            </div>-->
<!--                        </div>-->

                        <hr>
                        <a href="{% url 'listing_div' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                        <a href="{% url 'search_div' listing.div_id %}" class="btn btn-primary btn-block">View Subdivisions</a>

                    </div>
                </div>

            </div>


            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No listings available</p>

            </div>

            {% endif %}

        </div>

        <!-- PAGINATION -->
        <div class="row">
            <div class="col-md-12">
                {% if listings.has_other_pages %}
                <ul class="pagination">
                    {% if listings.has_previous %}
                    <li class="page-item">
                        <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for i in listings.paginator.page_range %}
                    {% if listings.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if listings.has_next %}
                    <li class="page-item">
                        <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>

    </div>
</section>


<section id="" class="py-5 text-white" style="background-color:black;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <i class="fas fa-cogs fa-4x mr-4"></i>
                <hr/>
                <h3>Consulting Services</h3>
                <p>
                    Our management consulting services focus on our clients' most critical
                    issues and opportunities: strategy, marketing, organization, operations, technology,
                    transformation, digital, advanced analytics, corporate finance,
                    mergers & acquisitions and sustainability across all industries and geographies.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-home fa-4x mr-4"></i>
                <hr/>
                <h3>Propery Management</h3>
                <p>
                    Property management is the daily oversight of residential,
                    commercial, or industrial real estate by a third-party contractor.
                    Generally, property managers take responsibility for day-to-day repairs and ongoing maintenance,
                    security, and upkeep of properties. They usually work for the owners of investment properties
                    such as apartment and condominium complexes, private home communities, shopping centers,
                    and industrial parks.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-money-bill-alt fa-4x mr-4"></i>
                <hr/>
                <h3>Renting & Selling</h3>
                <p>
                    Renting can provide some security because you know you can return to your home.
                    Selling a house and then buying another home incurs costs,
                    so it may be cheaper to rent out your house and move back in when you return
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
